* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('fondo.jpg');
}
nav{
  line-height: 2em;
     font-family: Times;
     list-style: none;
     font-size: larger;
     float:left;
     text-decoration: none;
     margin: 10px;
     font-weight: bold;
     color: rgb(230, 19, 19);
}
ul{
  text-align: center;
  align-items:flex-end;
}
li{
  list-style: none;
  
  font-size: larger;
}

.form-register {
  width: 400px;
  background: #05405c;
  padding: 30px;
  margin: auto;
  margin-top: 35px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px rgb(15, 37, 77);
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.header  {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(74, 158, 133);
  font-size: 18;
  height: 80px;
 
}
.input-group {
  flex-wrap:wrap;
  width:100%
}
.notification {
  align-items: center;
  background-color: var(--verde);
  border-radius: 5px;
  box-shadow: 8px 16px 32px 0px var(--shadow);
  color: var(--blanco);
  display: none;
  font-family: var(--secondary-font);
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 24px;
  top: 24px;
  width: 300px;
}

.controls {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 9px;
  border: 1px solid #60cfdd;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.controls-error {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #f80303;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(255, 0, 0);
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 
  16px;
}
.send-button {
  align-items: center;
  background-color: var(--gris-oscuro);
  border-radius: 5px;
  color: white;
  font-family: var(--secondary-font);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 48px;
  width: 150px;
  margin-left: auto;
}






.formulario__grupo-incorrecto .formulario__input {
	width: 100%;
  background: #000000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #f80303;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}


.formulario__input-error {
	font-size: 1px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
  font-size:small;
  color: #f80303;

}